#image {
    height: auto;
    display: block;
    max-width: 100%;
    margin: auto;
  }
  
  #title {
    text-align: center;
    padding: 20;
  }
  
  #img-caption {
    text-align: center;
  }
  
  #tribute-link {
    position: relative;
    bottom: 10px;  
  }
  
  #information {
    text-align: center;  
  }
  
  #background-photo {
    color: white;
    background-image: url('CornwallAsset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  }
  
  .container {
    background: lightyellow;
    display: block;
    border: 5px solid yellow;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }